body{
  margin: 0;
  padding: 0 0;
  /* Image link - https://unsplash.com/photos/4iXagiKXn3Y */
  background-image: url('california.jpg');
  /* sets the background to cover the whole screen */
  background-size:cover;
  background-position:center;
}
.mainButtons{
  text-align: justify;
  margin-top: auto;
}

/* .sidebar-dp{
  align-content: center;
  height: 20px;
  width: 20px;
} */

/* The general function for all the buttons*/
.btn {

  border: 1px solid: #34ace0;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  width: auto;
  background: none;
  padding: 1px 70px;
  font-size: 20px;
  font-family: 'Schoolbell', cursive;
  cursor: pointer;
  margin: 10px;
  transition: 0.8s;
  position: relative;
  overflow: hidden;
}

/* When the cursor hover on the button the text dissapear*/
.btn0:hover, .btn1:hover, .btn2:hover, .btn3:hover, .btn4:hover, .btn5:hover{
  color: #34ace0;
  }

.btn::before {
  position: absolute;
  left: 0;
  width: 10%;
  height: 0%;
  background: #34ace0;
  z-index: -1;
  transition: 0.8s;

}
.btn0::before, .btn1::before, .btn2::before, .btn3::before, .btn4::before, .btn5::before{
  top: 0;
  border-radius: 20% 20%;
}
.btn0::before, .btn1::before, .btn2::before, .btn3::before, .btn4::before, .btn5::before{
  height: 0%;
}
.heading{
  /* padding: 0px 900px 0px 670px; */
  text-align: center;
}

body {
  text-align: center;
}

/* .sidebar-dp{
  border-radius: 50%;
} */

.sidenav {
  height: 100%;
  width: 400px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: black;
  opacity: .8;
  overflow-x: hidden;
  padding-top: 20px;
}
.about{
  margin-left: 400px;
  font-size: 12px;
  padding: 0px 10px;
}